<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>

	<script src="https://cdn.tailwindcss.com"></script>
	<link href="../statics/css/main.css">

</head>
<body class="bg-white flex min-h-screen flex-col">

	<div class="flex flex-row-reverse w-full h-16">
		<form method="GET" action="upload">
			{% csrf_token %}
			<input type="hidden" name="key" value="{{key}}">
			<button class="text-center h-full w-20 mr-4 hover:underline-offset-4 hover:underline">Upload</button>
		</form>
		<form method="GET" action="main_two_xml">
			{% csrf_token %}
			<input type="hidden" name="key" value="{{key}}">
			<input type="hidden" name="mode" value="{{mode}}">
			<button class="text-center h-full w-32 hover:underline-offset-4 hover:underline">Change</button>
		</form>
	</div>

	<div class="flex relative mt-5 flex-row justify-center">
		<form method="GET" class="mr-3" action="main">
			{% csrf_token %}
			<input type="hidden" name="change" value="{{key}}">
			<input type="hidden" name="mode" value="{{mode}}">
			<button class="text-center h-10 w-20 rounded-lg bg-blue-100 hover:shadow-inner hover:bg-blue-300">{{mode}}</button>
		</form>
		<form method="POST" action="main" class="flex justify-center w-2/3">
			{% csrf_token %}
			<input type="hidden" name="mode" value="{{mode}}">
			<input type="text" id="search" name="key" placeholder=" " class="w-full justify-center px-4 py-2 border border-gray-300 rounded-lg focus:outline-none peer">
		</form>
	</div>

	<div class="flex justify-center">
		<p> Number of result: {{num_result}} </p>
	</div>

	{% for title, abstract, file in articles %}
		<div class="bg-gray-100 flex mt-5 mx-7 h-40 rounded-lg border-gray-300 border-2 hover:border-gray-500">
			<form method="get" action="Abstract">
				{% csrf_token %}
				<input type="hidden" name="title" value="{{file}}">
				<input type="hidden" name="key" value="{{key}}">
				<input type="hidden" name="mode" value="{{mode}}">
				<button class="w-full h-full flex flex-col">
				<h2 class="w-full h-full font-serif text-2xl text-center self-center"> {{title}} </h2>
				</button>
			</form>
		</div>
	{% endfor %}

</body>
</html>
